[Desktop Entry]
Name=mame4all
Comment=Multiple Arcade Machine Emulator
Exec=mame.dge %f
Icon=icon
Categories=emulators;
X-OD-Manual=readme.txt
X-OD-Filter=.zip
